<section data-ng-controller="HomeController">
    <div class="text-center">
        <div class="row">
            <div class=" col-xs-12">
                <div class="get-started">
                    <h2>CONNECT WITH MENTORS</h2>
                    <h4>
                        in your neighourhood
                    </h4>
                    <a class="btn get-started-btn btn-lg" href="/#!/mentors">GET STARTED</a>
                </div>
             
                <div class="overlay"></div>
                	  <img class="hero" src="/modules/core/img/yaba.png">

            </div>
        </div>
        <div class="row how-it-works">
            <h3>HOW IT WORKS</h3>
            <div class="row container box-container">
                <div class="col-xs-12 col-md-4">
                    <div class="box">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <div class="hiw-title"`>Find a Mentor</div>
                        <p class="hiw-text">Browse through our directory and find a Mentor that matches your interests in Yaba</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="box">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="hiw-title">Connect with Mentor</div>
                        <p class="hiw-text">Make a connection request to the skilled Mentor by registering on the platform</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="box">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        <div class="hiw-title">Schedule & Meet</div>
                        <p class="hiw-text">Setup a meeting and choose from our list of secure and strategic locations in Yaba</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row about-us">
            <h3 style="color: white">ABOUT YA-MENTOR</h3>
            <p class="final">Ya-Mentor is the free mentorship and networking platform for your YABA suburb of Lagos State, Nigeria. Residents, Workers, Students, etc within Yaba and environs get on the platform to either coach others OR learn from experts referred to
                as Mentors. Sit back and relax as Ya-Mentor makes your Yaba experience a unique one</p>
        </div>
        <div class="row footer">
            <span>Built by Andela @ CcHub HyberLocal hackathon, 2015</span>
        </div>
    </div>
</section>
