<section class="banner" data-ng-controller="AuthenticationController">
  <div collapse="isCollapsed">
    <div class="well well-sm text-center">
      <h2>Choose a role</h2>
    </div>
  </div>
    <div class="role">
        <div class="caption">
            <h3 style="color: black;font-size: 20px;margin-top: 17%;" class="col-lg-12 text-center">Register as a</h3>
            <div style="margin-top:15px" class="col-lg-12 text-center blue">
                <button onclick="document.getElementById('signin').click()" style="width:200px;height:50px" ui-route="/signup" ng-class="{active: $uiRoute}" type="button" class="btn btn-primary1" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                    <a id="signin" style="text-decoration:none;color:white;font-size:20px" href="/#!/mentors/signup">Mentor</a>
                </button>

            </div>
            <div style="margin-top:15px" class="col-lg-12 text-center blue">
                <button onclick="document.getElementById('mentee').click()" style="width:200px;height:50px" ui-route="/signup" ng-class="{active: $uiRoute}" type="button" class="btn btn-primary1" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                    <a id="mentee" style="text-decoration:none;color:white;font-size:20px" href="/#!/mentees/signup">Mentee</a>
                </button>
            </div>
        </div>
    </div>
</section>
